.reviewList {
  margin-bottom: 20px;
}

.reviewItem {
  padding: 5px;
  border: 1px solid #000000;
  border-radius: 4px;
}

.reviewItem:not(:last-child) {
  margin-bottom: 10px;
}

.reviewTitle {
  margin-bottom: 10px;
  font-size: 20px;
}

.reviewText {
  font-size: 16px;
}

.reviewError {
  font-size: 18px;
}
